.carousel-two {
background: black;
padding-top: 75px;
padding-bottom: 75px;
text-align: center;
}
.testimonials {
  color: white;
  font-family: 'Francois One', sans-serif;
  margin-bottom: 10px;
  font-size: 35px;
}
