img {
  // padding-left: 20px;
  // padding-top: 10px;
  // margin-top: 2em;
   height: 200px;
  // margin-left: 5%
}

.images {
  display: block;
}

.search {

}


form {
  padding-left: 30%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10rem;

}

input {
  width: 200px;
  padding-right: 20px;
}

.flip-container {
	perspective: 1000px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 2em;
  margin-left: 5%
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 286px;
	height: 200px;
 }

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;

}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  text-align: center;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;

}

button {
  border-radius: 25px;
  margin-top: 20px;
}

.name {
  margin-top: 30px;
}
