img {
  padding-left: 20px;
  margin-top: 2em;
  height: 200px;
  margin-left: 5%
}

.search {
  margin-left: 38%;
  margin-top: .5%;

}


form {
  padding-left: 30%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10rem;

}

input {
  width: 200px;
  padding-right: 20px;
}
