.navbar.navbar-default {
  background-color: lightgray;
  height: 90px;
}

.logo {
  height: 90px;
  width: 90px;
  border: none;
}

.dropdown-menu {
  width: 350px
}

#navbarDropdown {
  position: absolute;
  right: 0;
  margin-right: 40px;

 }

 nav > div.dropdown-menu {
   left: initial;
   right: 0;
   margin-top: -30px;

   .checkout-cart {
     width: 100%;
   }

   form {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%; }
 }

 .carousel {
   background: #666;
   position: relative;
   z-index: 0;

   &-controls,
   &-indicators {
     z-index: 666;
   }

   &-inner {
     z-index: 1
   }
 }
